<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31626836015-unfc300djqe8gn1h75fk2f6tutf9j755.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31626836015-unfc300djqe8gn1h75fk2f6tutf9j755</string>
	<key>API_KEY</key>
	<string>AIzaSyBnRhbcWDBgwEpDo4IJbgxr5JrvOJgs9VM</string>
	<key>GCM_SENDER_ID</key>
	<string>31626836015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sr.Habitros</string>
	<key>PROJECT_ID</key>
	<string>habitros-1f3d8</string>
	<key>STORAGE_BUCKET</key>
	<string>habitros-1f3d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:31626836015:ios:bf2ed9eae59e5d9d0ceeda</string>
</dict>
</plist>
